@import '../../css/base'

.app
    min-width: 1200px
    min-height 100%

    font-size: 16px
    font-family: Arial, sans-serif
    line-height: 1.2

    background: rgba(0,0,0,.02)


    &__container
        box-sizing: border-box
        width: 1200px
        margin: auto
        padding 0 16px


    &__header
        padding: 16px 0

        border-bottom: 1px solid #d0d4d9


    &__header-in
        display: flex;
        align-items: center;
        justify-content: space-between;


    &__body
        padding: 16px 0
