dotted-text()
    overflow: hidden

    white-space: nowrap
    text-overflow: ellipsis


reset-list()
    margin: 0
    padding: 0

    list-style: none


vertical-center($position = relative)
    position $position
    top: 50%

    transform: translateY(-50%)
