.date-switcher
    position: relative



    &__value
        display: inline-block
        vertical-align: middle


    &__nav
        position: relative
        top: -1px

        display: inline-block
        vertical-align: middle

        text-decoration: none
        color: inherit
