@import '../../css/mixins.styl';


.habit
    position: relative

    display: flex
    align-items: center


    & + &
        margin-top: 2px


    &__title
        dotted-text()

        flex: 1
        padding: 0 1em 0 0


    &__title:hover &__delete
        visibility: visible


    &__delete
        vertical-center(absolute)

        right: 100%

        font-size: 18px
        color: rgba(0,0,0,.5)

        visibility: hidden
        cursor: pointer


    &__cells
        line-height: 0
        white-space: nowrap
