@import '../../css/mixins.styl';


.habit
    position: relative

    display: flex
    align-items: center


    & + &
        margin-top: 2px


    &__title
        dotted-text()

        flex: 1
        padding: 0 1em 0 0


    &__title:hover &__delete
        visibility: visible


    &__title-text
        display: block

        line-height: 1.2


    &__title-input
        padding: 0

        font-family: inherit
        font-size: inherit
        line-height: 1.2

        border: 0
        background: none

        outline: none


        &:focus
            box-shadow: 0 0 3px green



    &__delete
        vertical-center(absolute)

        right: 100%

        font-size: 18px
        color: rgba(0,0,0,.5)

        visibility: hidden
        cursor: pointer


    &__cells
        line-height: 0
        white-space: nowrap
